@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Pridi:wght@300&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

body {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 30px auto;
  width: 350px;
}